@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: whitesmoke;
    font-family: "Caveat", cursive;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: #111;
}

.main {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    h1 {
        font-size: 5vw;
        font-weight: 600;
        letter-spacing: 0.3vw;
        overflow: hidden;

        span {
            display: inline-block;
        }
    }
}